.button {
    background-color: darkgreen;
    padding: 10px 15px 10px 15px;
    border-radius: 999px;
}

.button svg {
    height: 15px;
    width: 15px;
    color: white;
}

.span {
    font-size: 12px;
    color: white;
    margin-left: 3px;
}
