.box {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}

.icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    color: var(--c-green);
}

.span {
    font-size: 18px;
    color: var(--c-white);
    font-family: SFProDisplay-SemiBold;
}