.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    width: fit-content;
}

@media (hover: hover) and (pointer: fine) {
    .box:hover .icon {
        color: var(--c-green);
    }
    .box:hover .span {
        color: var(--c-green);
    }
    .box:hover {
        background-color: var(--c-green-12);
    }
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    color: var(--c-white);
}

.span {
    font-size: 14px;
    color: var(--c-white);
}

.buttonSelectedSpan {
    color: var(--c-green);
}

.buttonSelectedIcon {
    color: var(--c-green);
}