.mainBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 30px;
}

.songNameText {
    font-family: SFProDisplay-SemiBold;
}

.songArtisttext {
    font-family: SFProDisplay-RegularItalic;
}

.byText {
    color: var(--c-green);
    font-family: SFProDisplay-Medium;
}

.duration {
    font-family: SFProDisplay-Medium;
    margin-right: 15px;
    font-size: 14px;
}

.button {
    margin-left: auto;
}